<md-dialog aria-label="Editar producto">
  <!-- name -->
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Modificar datos del producto</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="toEdit.product.name" required>
        </md-input-container>
        <div class="input-row layout-row">
          <!-- price -->
          <md-input-container class="md-block">
            <label>Precio</label>
            <input ng-model="toEdit.product.price" type="number" required>
          </md-input-container>
          <!-- stock -->
          <md-input-container class="md-block">
            <label>Stock</label>
            <input ng-model="toEdit.product.stock" type="number" required>
          </md-input-container>
        </div>
        <!-- in_offer -->
        <md-checkbox ng-model="toEdit.product.in_offer" aria-label="En oferta">
          En oferta
        </md-checkbox>
        <!-- discount -->
        <md-input-container>
          <label>Descuento (%)</label>
          <input ng-model="toEdit.product.discount" type="number" ng-disabled="!toEdit.product.in_offer" ng-required="toEdit.product.in_offer"
            min="0" max="100">
        </md-input-container>
        <!-- category -->
        <md-input-container>
          <label>Categoria</label>
          <md-select ng-model="toEdit.product.category_id">
            <md-option ng-repeat="category in categories.categories" ng-value="category.id">
              {{category.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-content layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="editProduct()">Confirmar</md-button>
        </md-content>
      </div>
    </md-dialog-content>
  <form>
</md-dialog>
