<div class="copywrite">
	 <div class="container">
		 <div style="float: left; margin: 0em 0;" ng-controller="settings">
        <a ng-href="https://{{setting.social_facebook}}" target="_blank"><i class="fa fa-facebook fa-lg fa-inverse" style="padding: 8px;"></i></a>
        <a ng-href="https://{{setting.social_twitter}}" target="_blank"><i class="fa fa-twitter fa-lg fa-inverse" style="padding: 8px;"></i></a>
        <a ng-href="https://{{setting.social_instagram}}" target="_blank"><i class="fa fa-instagram fa-lg fa-inverse" style="padding: 8px;"></i></a>
		 </div>
     <div class="copy" style="float:right;">
			 <p style="padding-top: 6px;">© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>
