<div class="header-top" ng-controller="navigation">
  <div class="header-bottom">
    <div class="logo">
      <h1><a ng-click="home()"><img style="max-width: 150px; min-width:80px" ng-src="img/cm_logo_home.png" alt=""></a></h1>
    </div>
    <!---->
    <div class="top-nav">
      <ul class="memenu skyblue">
          <li class="grid"><a ng-click="home()">Home</a></li>
          <li class="grid"><a ng-click="products()">Productos</a></li>
          <li class="grid"><a ng-click="whoWeAre()">Quiénes somos</a></li>
  				<li class="grid"><a ng-click="contact()">Contacto</a></li>
      </ul>
		</div>
    <div class="clearfix"> </div>
    <div class="cart box_1">
      <span>
        <img style="width=24px;height:24px;" src="images/american_express.jpg" alt="">
        <img style="width=24px;height:24px;" src="images/bancard.png" alt="">
        <img style="width=24px;height:24px;" src="images/credicard.png" alt="">
        <img style="width=24px;height:24px;" src="images/credifielco.png" alt="">
        <img style="width=24px;height:24px;" src="images/diners_club.png" alt="">
        <img style="width=24px;height:24px;" src="images/master_card.png" alt="">
        <img style="width=24px;height:24px;" src="images/visa.jpeg" alt="">
        <img style="width=24px;height:24px;" src="images/panal.jpg" alt="">
        <img style="width=24px;height:24px;" src="images/unica.png" alt="">
      </span>
      <div class="total">
        Aceptamos todas las tarjetas de crédito
      </div>
      <div class="clearfix"> </div>
    </div>

  </div>
  <div class="clearfix"> </div>
</div>
