<md-toolbar class="md-theme-light">
  <h1 class="md-toolbar-tools">Navegación</h1>
</md-toolbar>

<md-content layout-padding>
  <md-menu-item>
    <md-button ng-click="$ctrl.categories()">
      Categorías
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.products()">
      Productos
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.users()">
      Usuarios
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.setting()">
      Configuración
    </md-button>
  </md-menu-item>
</md-content>
