<md-toolbar class="md-theme-light" style="background-color:white">
  <h1><a ng-click="$ctrl.dashboard()"><img class="logo" ng-src="img/cm_logo_home.png" alt=""></a></h1>

  <form style="background-color:#ADADAD;" layout="column" flex>
    <p class="username">
      {{$ctrl.username}}
    </p>
    <div layout="row" layout-align="begin center" flex>
      <md-button ng-click="$ctrl.logout()">
        Logout
      </md-button>
    </div>
  </form>

</md-toolbar>

<md-content>
  <md-menu-item>
    <md-button ng-click="$ctrl.dashboard()">
      <md-icon md-svg-src="img/icons/ic_dashboard_black_24px.svg" class="navigation"></md-icon>
      Bandeja
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.categories()">
      <md-icon md-svg-src="img/icons/ic_view_stream_black_24px.svg" class="navigation"></md-icon>
      Categorías
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.products()">
      <md-icon md-svg-src="img/icons/ic_view_list_black_24px.svg" class="navigation"></md-icon>
      Productos
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.users()">
      <md-icon md-svg-src="img/icons/ic_account_box_black_24px.svg" class="navigation"></md-icon>
      Usuarios
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="$ctrl.setting()">
      <md-icon md-svg-src="img/icons/ic_settings_black_24px.svg" class="navigation"></md-icon>
      Configuración
    </md-button>
  </md-menu-item>
</md-content>
