<md-dialog aria-label="Editar usuario">

  <form name="userEditForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar usuario</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

        <div layout="row">
          <md-input-container flex>
            <label>Nombre</label>
            <input name="userName" ng-model="toEdit.user.name" required>
            <div ng-messages="userEditForm.userName.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Apellido</label>
            <input name="userLastName" ng-model="toEdit.user.last_name" required>
            <div ng-messages="userEditForm.userLastName.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Nombre de usuario (username)</label>
          <input name="userUsername" ng-model="toEdit.user.username" ng-pattern="/^[A-Za-z][A-Za-z0-9]*$/"
            md-maxlength="20" required>
          <div ng-messages="userEditForm.userUsername.$error">
            <div ng-message="required">Este campo es requerido.</div>
            <div ng-message="pattern">No debe contener caracteres especiales.</div>
            <div ng-message="md-maxlength">El nombre de usuario no debe superar 20 caracteres.</div>
          </div>
        </md-input-container>

        <p>Si no desea cambiar la contraseña<br>
          deje vacíos esos campos</p>
        <div layout="row">
          <md-input-container flex>
            <label>Contraseña</label>
            <input name="userPassword" ng-model="toEdit.user.password" type="password">
          </md-input-container>

          <md-input-container flex>
            <label>Confirmar contraseña</label>
            <input name="userPassword2" ng-model="toEdit.user.password2" type="password"
              ng-pattern="{{toEdit.user.password}}" ng-required="toEdit.user.password != null && toEdit.user.password != ''"
              ng-disabled="toEdit.user.password == null || toEdit.user.password == ''">
            <div ng-messages="userEditForm.userPassword2.$error">
              <div ng-message="pattern">Las contraseñas no coinciden.</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Rol</label>
          <md-select name="userRole" ng-model="toEdit.user.role" required>
            <md-option ng-repeat="role in roles" ng-value="role">
              {{role}}
            </md-option>
          </md-select>
          <div ng-messages="userEditForm.userRole.$error">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-checkbox name="userActive" ng-model="toEdit.user.active" aria-label="Activo">
            Usuario activo
          </md-checkbox>
        </md-input-container>

        <div class="layout-row" layout-align="end center">
          <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="editUser()"
            ng-disabled="userEditForm.$invalid">Confirmar</md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
