<md-dialog aria-label="Nuevo producto">
  <!-- name -->
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo producto</h2>
      </div>
    </md-toolbar>

    <!-- TODO: add icons to each input -->
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="product.name" md-autofocus required>
        </md-input-container>
        <div class="input-row layout-row">
          <!-- price -->
          <md-input-container class="md-block">
            <label>Precio</label>
            <input ng-model="product.price" type="number" required>
          </md-input-container>
          <!-- stock -->
          <md-input-container class="md-block">
            <label>Stock</label>
            <input ng-model="product.stock" type="number" required>
          </md-input-container>
        </div>
        <!-- in_offer -->
        <md-checkbox ng-model="product.in_offer" aria-label="En oferta">
          En oferta
        </md-checkbox>
        <!-- discount -->
        <md-input-container>
          <label>Descuento (%)</label>
          <input ng-model="product.discount" type="number" ng-disabled="!product.in_offer" ng-required="product.in_offer">
        </md-input-container>
        <!-- category -->
        <md-input-container>
          <label>Categoria</label>
          <md-select ng-model="product.category_id" required>
            <md-option ng-repeat="category in categories.categories" ng-value="category.id">
              {{category.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <div class="layout-row" layout-align="end center">
          <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="saveProduct()">Confirmar</md-button>
        </div>
      </div>
    </md-dialog-content>
  <form>
</md-dialog>

<!--
name
price
stock
main_image
in_offer
discount
category
 -->
