<div layout="row" layout-fill ng-cloak>

  <!-- Sidenav -->
  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Navegación</h1>
    </md-toolbar>

    <md-content layout-padding>

    </md-content>

  </md-sidenav>

  <!-- Section -->
  <section layout="column" layout-fill>

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.showLeftSidenav()" hide-gt-md>
          <md-icon md-svg-icon="img/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <h2>
          <span>Editar datos del producto</span>
        </h2>
      </div>
    </md-toolbar>

    <md-content layout="column" layout-padding flex>
      <form name="productEditForm">
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="$ctrl.product.product.name" required>
        </md-input-container>
        <!-- price -->
        <md-input-container class="md-block">
          <label>Precio</label>
          <input ng-model="$ctrl.product.product.price" type="number" required>
        </md-input-container>
        <!-- stock -->
        <md-input-container class="md-block">
          <label>Stock</label>
          <input ng-model="$ctrl.product.product.stock" type="number" required>
        </md-input-container>
        <!-- in_offer -->
        <md-input-container class="md-block">
          <md-checkbox ng-model="$ctrl.product.product.in_offer" aria-label="En oferta">
            En oferta
          </md-checkbox>
        </md-input-container>
        <!-- discount -->
        <md-input-container class="md-block">
          <label>Descuento (%)</label>
          <input ng-model="$ctrl.product.product.discount" type="number"
            ng-disabled="!$ctrl.product.product.in_offer" ng-required="$ctrl.product.product.in_offer" min="0" max="100">
        </md-input-container>
        <!-- category -->
        <md-input-container class="md-block">
          <label>Categoria</label>
          <md-select ng-model="$ctrl.product.product.category_id" required>
            <md-option ng-repeat="category in $ctrl.categories.categories" ng-value="category.id">
              {{category.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <h3>Imágenes</h3>
        <div layout="row">
          <md-radio-group ng-model="$ctrl.mainImageId" layout="row">
            <div ng-repeat="productImage in $ctrl.imagesUrls.productImages" layout="row">
              <md-radio-button ng-value="productImage.id"
                  aria-label="productImage.file_name">
              <img ng-src="{{productImage.file_path}}" alt="imagen-producto" style="height:120px;" />
              </md-radio-button>
              <md-button class="md-icon-button" aria-label="Eliminar imagen" ng-click="$ctrl.deleteImage(productImage)">
                <md-icon md-svg-icon="img/icons/ic_clear_black_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-radio-group>
        </div>

        <br>

        <form name="myForm">
          <input id="file-upload" type="file" name="file_name" aria-label="Imagen" ng-disabled="$ctrl.imagesUrls.productImages.length >= 5">
          <md-button class="md-raised md-primary" ng-click="$ctrl.addImage()" ng-disabled="$ctrl.imagesUrls.productImages.length >= 5">Agregar Imagen</md-button>
        </form>

        <h3>Especificaciones</h3>
        <div>
          <p ng-repeat="productSpecification in $ctrl.specifications.productSpecifications">
            {{productSpecification.name}}: {{productSpecification.value}}
            <br>
          </p>
        </div>

        <div layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="$ctrl.editProduct()">Confirmar</md-button>
        </div>
      </form>
    </md-content>

  </section>

</div>
