<md-dialog aria-label="Editar categoría">

  <form name="categoryEditForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar categoría</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

        <md-input-container class="md-block">
          <label>Nombre</label>
          <input name="categoryName" ng-model="toEdit.category.name" required>
          <div ng-messages="categoryEditForm.categoryName.$error">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>

        <div class="layout-row" layout-align="end center">
          <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="editCategory()"
            ng-disabled="categoryEditForm.$invalid">
            Confirmar
          </md-button>
        </div>

      </div>
    </md-dialog-content>
  </form>
</md-dialog>
