<md-dialog aria-label="Nueva categoría">

  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nueva categoría</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="category.name" required>
        </md-input-container>

        <div class="layout-row" layout-align="end center">
          <md-button class="md-raised" ng-click="cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="addCategory()">Confirmar</md-button>
        </div>
      </div>
    </md-dialog-content>
  <form>
</md-dialog>
