<div layout="row" layout-fill ng-cloak>

  <!-- Sidenav -->
  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">

    <navigation></navigation>

  </md-sidenav>

  <!-- Section -->
  <section layout="column" layout-fill>

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.showLeftSidenav()" hide-gt-md>
          <md-icon md-svg-icon="img/icons/ic_menu_white_24px.svg"></md-icon>
        </md-button>
        <h2>
          <span>Agregar nuevo producto</span>
        </h2>
      </div>
    </md-toolbar>

    <md-content layout="column" layout-padding>
      <form name="productAddForm" >
        <!-- name -->
        <md-input-container class="md-block">
          <label>Nombre</label>
          <input name="productName" ng-model="$ctrl.product.name" required>
          <div ng-messages="productAddForm.productName.$error">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>
        <!-- description -->
        <md-input-container class="md-block">
          <label>Descripción</label>
          <textarea name="productDescription" ng-model="$ctrl.product.description" md-maxlength="200" rows="3" required>
          </textarea>
          <div ng-messages="productAddForm.productDescription.$error">
            <div ng-message="required">Debe dar una descripción para este producto.</div>
            <div ng-message="md-maxlength">La descripción no puede superar los 200 caracteres.</div>
          </div>
        </md-input-container>
        <!-- price -->
        <md-input-container class="md-block">
          <label>Precio</label>
          <input name="productPrice" ng-model="$ctrl.product.price" type="number" min="0" required>
          <div ng-messages="productAddForm.productPrice.$error">
            <div ng-message="required">Este campo es requerido.</div>
            <div ng-message="min">El precio no puede ser negativo.</div>
          </div>
        </md-input-container>
        <!-- stock -->
        <md-input-container class="md-block">
          <label>Stock</label>
          <input name="productStock" ng-model="$ctrl.product.stock" type="number" min="0" required>
          <div ng-messages="productAddForm.productStock.$error">
            <div ng-message="required">Este campo es requerido.</div>
            <div ng-message="min">No se puede tener una cantidad negativa en stock.</div>
          </div>
        </md-input-container>
        <div layout="row">
          <!-- in_offer -->
          <md-input-container flex="25">
            <md-checkbox name="productInOffer" ng-model="$ctrl.product.in_offer" aria-label="En oferta">
              En oferta
            </md-checkbox>
          </md-input-container>
          <!-- discount -->
          <md-input-container flex>
            <label>Descuento (%)</label>
            <input name="productDiscount" ng-model="$ctrl.product.discount" type="number"
              ng-disabled="!$ctrl.product.in_offer" ng-required="$ctrl.product.in_offer" min="0" max="100">
            <div ng-messages="productAddForm.productDiscount.$error">
              <div ng-message="required">Este campo es requerido.</div>
              <div ng-message-exp="['min','max']">El descuento debe ser un porcentaje entre 0 y 100.</div>
            </div>
          </md-input-container>
        </div>
        <!-- category -->
        <md-input-container class="md-block">
          <label>Categoria</label>
          <md-select name="productCategory" ng-model="$ctrl.product.category_id" required>
            <md-option ng-repeat="category in $ctrl.categories.categories" ng-value="category.id">
              {{category.name}}
            </md-option>
          </md-select>
          <div ng-messages="productAddForm.productCategory.$error">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>

        <!-- <h3>Imágenes</h3>
        <div layout="row">
          <md-radio-group ng-model="$ctrl.mainImageId" layout="row">
            <div ng-repeat="productImage in $ctrl.images" layout="row">
              <md-radio-button ng-value="productImage.protoId"
                  aria-label="productImage.name">
                <img ng-src="{{productImage.image}}" alt="imagen-producto" style="height:120px;" />
              </md-radio-button>
              <md-button class="md-icon-button" aria-label="Eliminar imagen" ng-click="$ctrl.deleteImage(productImage)">
                <md-icon md-svg-icon="img/icons/ic_clear_black_24px.svg"></md-icon>
              </md-button>
            </div>
          </md-radio-group>
        </div>
        <br>
        <form name="myForm">
          <input id="file-upload" type="file" name="file_name" aria-label="Imagen" ng-disabled="$ctrl.imagesUrls.productImages.length >= 5"><br>
          <md-button class="md-raised md-primary" ng-click="$ctrl.addImage()" ng-disabled="$ctrl.imagesUrls.productImages.length >= 5">Agregar Imagen</md-button>
        </form> -->

        <!-- <h3>Especificaciones</h3>
        <div ng-repeat="productSpecification in $ctrl.specifications.productSpecifications">
          <md-input-container class="nomargin">
            <label>Clave</label>
            <input ng-model="productSpecification.name">
          </md-input-container>
          <md-input-container class="nomargin">
            <label>Valor</label>
            <input ng-model="productSpecification.value">
          </md-input-container>
        </div> -->

        <div layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancelar</md-button>
          <md-button class="md-raised md-primary" ng-click="$ctrl.addProduct()"
            ng-disabled="productAddForm.$invalid">Guardar</md-button>
        </div>
      </form>
    </md-content>

  </section>

</div>
