<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- <!DOCTYPE html>
<html>
<head>
<title>Lighting A Ecommerce Category Flat Bootstarp Resposive Website Template | Products :: w3layouts</title> -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>

<!-- Custom Theme files -->
<!--theme style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start menu -->
<script src="js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
<!-- /start menu -->
<link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
<!-- the jScrollPane script -->
<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
		<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
		</script>
<!-- //the jScrollPane script -->
<script src="https://use.fontawesome.com/0c95362910.js"></script>
<!-- </head>
<body> -->
<!--header-->
<div class="header-top">
	<div class="header-bottom">
    <div class="logo">
      <h1><a href="#">Clickmuebles</a></h1>
    </div>
    <!---->
    <div class="top-nav" ng-controller="navigation">
      <ul class="memenu skyblue"><li class="active"><a ng-click="home()">Home</a></li>
        <li class="grid"><a ng-click="products()">Productos</a></li>
        <li class="grid"><a ng-click="whoWeAre()">Quiénes somos</a></li>
				<li class="grid"><a ng-click="contact()">Contacto</a></li>
      </ul>
		</div>
		<!---->
  </div>
  <div class="clearfix"> </div>
</div>
<!--header//-->
<div class="product-model">
	 <div class="container">
			<h2 style="margin-top: 25px;">Nuestros Productos</h2>
		 <div class="col-md-9 product-model-sec" ng-controller="categoryProducts">
        <div ng-repeat="product in products">
          <a ng-click="viewProduct(product.slug)"><div class="product-grid"> <!-- href="single.html" -->
           <div class="more-product"><span> </span></div>
           <div class="product-img b-link-stripe b-animate-go  thickbox">
             <img ng-src="{{product.product_images[0].file_path}}" alt="{{product.product_images[0].file_name}}" class="img-responsive">
             <div class="b-wrapper">
             <h4 class="b-animate b-from-left  b-delay03">
             <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Ver</button>
             </h4>
             </div>
           </div></a>
           <div class="product-info simpleCart_shelfItem">
             <div class="product-info-cust prt_name">
               <h4>{{product.name}}</h4>
               <span class="item_price">Gs.
                 {{product.in_offer ? discountPrice(product.price, product.discount) : thousandSeparator(product.price)}}
               </span>
               <div class="ofr" ng-if="product.in_offer">
                 <p class="pric1"><del>Gs. {{thousandSeparator(product.price)}}</del></p>
                     <p class="disc">[{{product.discount}}% de descuento]</p>
               </div>
               <!-- <input type="text" class="item_quantity" value="1" /> -->
               <!-- <input type="button" class="item_add items" value="ADD"> -->
               <div class="clearfix"> </div>
             </div>

           </div>
         </div>
        </div>

          <!-- Add pagination control -->
			</div>
			<div class="rsidebar span_1_of_left">
				 <section  class="sky-form" ng-controller="categories">
					 <div class="product_right">
						 <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>CATEGORÍAS</h4>
						 <div class="tab1" ng-repeat="category in categories">
							 <ul class="place">
								 <li class="sort" ng-click="viewCategoryProducts(category.id)">{{category.name}}</li>
									<div class="clearfix"> </div>
							  </ul>
					    </div>
				 </section>

				 <section class="sky-form">
					 <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DESCUENTOS</h4>
					 <div class="row row1 scroll-pane">
						 <div class="col col-4">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Más del 50%</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>36% - 50%</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>21% - 35%</label>
								<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>5% - 20%</label>
						 </div>
					 </div>
				 </section>

				 <section class="sky-form">
						<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>PRECIO</h4>
							<ul class="dropdown-menu1">
								 <li><a href="">
								<div id="slider-range"></div>
								<input type="text" id="amount" style="border: 0; font-weight: NORMAL;   font-family: 'Dosis-Regular';" />
							 </a></li>
						  </ul>
				   </section>
				   <!---->
					 <script type="text/javascript" src="js/jquery-ui.min.js"></script>
					 <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
					<script type='text/javascript'>//<![CDATA[
					$(window).load(function(){
					 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 10000000,
								values: [ 0, 10000000 ],
								slide: function( event, ui ) {  $( "#amount" ).val( "Gs." + ui.values[ 0 ] + " - Gs." + ui.values[ 1 ] );
								}
					 });
					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

					});//]]>
					</script>
					 <!---->
			 </div>
	      </div>
		</div>
</div>
<!---->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 ftr-grid" ng-controller="categories">
					<h3>Categorías</h3>
					<ul class="nav-bottom">
						<li ng-repeat="category in categories">
              <a ng-click="viewCategoryProducts(category.id)">{{category.name}}</a>
            </li>
						<!-- <li><a href="#">LED Lights</a></li>
						<li><a href="#">Decorates</a></li>
						<li><a href="#">Wall Lights</a></li>
						<li><a href="#">Protectors</a></li> -->
					</ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<div class="copywrite">
  <div class="container">
    <div class="copy">
      <p style="padding-top: 6px;">© 2015 Lighting. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
    <div style="float: right; margin: 0em 0;" ng-controller="settings">
       <a ng-href="https://{{setting.social_facebook}}" target="_blank"><i class="fa fa-facebook fa-lg fa-inverse" style="padding: 8px;"></i></a>
       <a ng-href="https://{{setting.social_twitter}}" target="_blank"><i class="fa fa-twitter fa-lg fa-inverse" style="padding: 8px;"></i></a>
       <a ng-href="https://{{setting.social_instagram}}" target="_blank"><i class="fa fa-instagram fa-lg fa-inverse" style="padding: 8px;"></i></a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!---->
<!-- </body>
</html> -->
