<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="contact" ng-controller="contact" ng-cloak>
  <div class="container">
    <!--start contact-->
    <h3 style="margin-top: 25px;">Contáctenos</h3>
    <div class="section group">
      <div class="col-md-6 span_1_of_3">
        <div class="contact_info">
          <h4>Nos puede encontrar aquí</h4>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.9536329864823!2d-57.58720878498774!3d-25.339336883830253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDIwJzIxLjYiUyA1N8KwMzUnMDYuMSJX!5e0!3m2!1ses!2s!4v1495058944128"></iframe>
          </div>
        </div>
        <div class="company_address">
          <h4>Información:</h4>
          <p>Av. Fernando de la Mora c/ Av. Defensores del Chaco</p>
          <p>Asunción</p>
          <p>Paraguay</p>
          <p>Teléfono: {{setting.site_phone}}</p>
          <p>Teléfono móvil: {{setting.site_cellphone}}</p>
          <p>Email: <a ng-href="mailto:{{setting.site_email}}">{{setting.site_email}}</a></p>
          <p>Nos puede seguir en:
            <a ng-href="https://{{setting.social_facebook}}">Facebook</a>,
            <a ng-href="https://{{setting.social_twitter}}">Twitter</a>,
            <a ng-href="https://{{setting.social_instagram}}">Instagram</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 span_2_of_3">
        <div class="contact-form">
          <form name="sendMailForm">
            <div>
              <span><label>NOMBRE</label></span>
              <span><input name="userName" type="text" class="textbox" ng-model="user.name" required></span>
            </div>
            <div>
              <span><label>E-MAIL</label></span>
              <span><input name="userEmail" type="text" class="textbox" ng-model="user.email" required></span>
            </div>
            <div>
              <span><label>TELÉFONO MÓVIL</label></span>
              <span><input name="userPhone" type="text" class="textbox" ng-model="user.phone" required></span>
            </div>
            <div>
              <span><label>MENSAJE</label></span>
              <span><textarea name="userMessage" ng-model="user.message" required> </textarea></span>
            </div>
            <div>
              <span><input class="btn btn-primary" value="Enviar" ng-disabled="sendMailForm.$invalid" ng-click="sendMail()"></span>
            </div>
            <div>
              <p>{{responseMsg}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<div ng-include src="'partials/footer.html'"></div>
