<div layout="column" layout-align="center center">

  <div layout="column" layout-align="center center">
    <h1>Clickmuebles</h1>
    <h3>LOGIN</h3>
  </div>

  <md-card layout-padding>

    <md-card-actions layout-padding>
      <form name="loginForm" role="form" class="form-signin" layout="column">
        <md-input-container class="md-block">
          <label>Nombre de usuario</label>
          <input name="username" ng-model="$ctrl.user.username" required>
          <div ng-messages="loginForm.username.$error">
            <div ng-message="required">Debe identificarse con su nombre de usuario.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Contraseña</label>
          <input name="password" ng-model="$ctrl.user.password" type="password" required>
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">La contraseña es requerida.</div>
          </div>
        </md-input-container>

        <md-checkbox aria-label="Recuérdame" md-no-ink>
          No cerrar la sesión
        </md-checkbox>

        <br>

        <div layout="row" layout-align="center end">
          <md-button class="md-primary md-raised">
            Ingresar
          </md-button>
        </div>
      </form>
    </md-card-actions>
  </md-card>

</div>
