/* app css stylesheet */

input[type=text] {
    border: none;
    border-bottom: 2px solid #808080;
}
input[type=text]:focus {
    outline: none;
}

md-checkbox.md-checked .md-icon {
  background-color: white; /* #2F4F4F; DarkSlateGrey */
  border-color: #808080;
}

/* css details class (wider) for details display */
md-sidenav.details,
md-sidenav.md-locked-open.details,
md-sidenav.md-closed.md-locked-open-add-active.details {
  min-width: 250px !important;
  width: 100vw !important;
  max-width: 450px !important;
}

md-input-container.nomargin {
  margin: 0px 0;
}

form {
  max-width: 500px;
}
